@font-face {
  font-family: "punto";
  src: url("./fonts/futura_medium_bt.ttf") format("truetype");
}

html {
  --punto-red: #e7000c;
  --punto-blue: #20a5ce;
  --punto-green: #77b629;
  --punto-orange: #f6b003;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*************************************************************************
 ***                    Début de la feuille de style                   ***
 *************************************************************************/

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}

/* Guacamole */
.guacamole {
  background-color: lightgreen;
}
.guacamole #chat {
  background-color: aquamarine;
}

.guacamole #chat main,
.guacamole #chat aside,
.guacamole #chat input {
  background-color: #a7c3a7;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#chat,
#punto,
body > input[type="checkbox"] {
  display: none;
}

body.connected input#cbChat:checked ~ #chat,
body.connected input#cbPunto:checked ~ #punto {
  display: block;
}
body.connected #login {
  display: none;
}

#chat {
  position: relative;
  height: 500px;
  width: 700px;
  background-color: beige;
  padding: 10px;
}
#chat h2,
#chat h3 {
  position: absolute;
  background-color: inherit;
  height: 22px;
  padding: 5px;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
}
#chat h2 {
  top: -22px;
  left: -1px;
}
#chat h3 {
  right: -11px;
  top: -12px;
  transform-origin: left center;
  transform: translate(100%) rotate(90deg);
}
#chat main {
  position: relative;
  height: calc(100% - 30px);
  width: calc(100% - 170px);
  background-color: white;
  overflow-y: scroll;
  line-height: 1.2;
}
#chat main p {
  line-height: 1;
  font-size: 16px;
  margin: 3px;
}
#chat main .mp {
  color: darkblue;
}
#chat main .moi {
  color: green;
}
#chat main .system {
  color: orange;
}
#chat main .chifoumi {
  color: blueviolet;
}
#chat main img {
  max-width: 50%;
  vertical-align: text-top;
}

/** Pied de zone de chat */
#chat footer {
  position: absolute;
  bottom: 0;
  padding: 2px 0 6px 0;
  width: calc(100% - 20px);
  background-color: inherit;
}
#chat footer input {
  font-size: 15px;
}
#chat > footer input:first-child {
  width: calc(100% - 180px);
  font-size: 12px;
}
#chat > footer input:last-child {
  float: right;
}

#chat aside {
  width: 160px;
  float: right;
  margin: 0px;
  padding: 5px;
  height: calc(100% - 30px);
  background-color: white;
  line-height: 1.2;
  font-size: 14px;
}
#chat aside p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
#chat aside p[data-score]:after {
  content: " [" attr(data-score) " pts]";
  float: right;
}
#chat aside p[data-score]:nth-child(1):before {
  content: "\01F947";
}
#chat aside p[data-score]:nth-child(2):before {
  content: "\01F948";
}
#chat aside p[data-score]:nth-child(3):before {
  content: "\01F949";
}

/* Punto */
#punto {
  height: 80rem;
  width: 90rem;
  background-color: #c4c4c4;
  border-radius: 10px;
}

#punto main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 7fr 4fr;
  grid-template-rows: 4fr 7fr 4fr;
}

#punto #board {
  width: 100%;
  height: 100%;
  position: relative;
}

#punto #board {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#punto .player {
  /* border: blue 1px solid; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#punto .player:nth-child(1) {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

#punto .player:nth-child(1) .card {
  height: 8rem;
  width: 8rem;
}

#punto .player:nth-child(2) {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

#punto .player:nth-child(2) .card {
  transform: rotate(180deg);
}

#punto .player:nth-child(3) {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

#punto .player:nth-child(3) .card {
  transform: rotate(-90deg);
}

#punto .player:nth-child(4) {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

#punto .player:nth-child(4) .card {
  transform: rotate(90deg);
}

.player .card {
  height: 6.5rem;
  width: 6.5rem;
}

/* Cards */
.card {
  box-shadow: grey 0px 0px 20px 4px;
  height: 5.5rem;
  width: 5.5rem;
  border: 1px solid black;
  margin: 7px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 3px;
  background-color: rgb(30, 40, 40);
}

.card.none {
  visibility: hidden;
}

.card .dot {
  height: 65%;
  width: 65%;
  border-radius: 50%;
  background-color: var(--punto-blue);
  align-self: center;
  justify-self: center;
}
.card.green .dot {
  background-color: var(--punto-green);
}
.card.red .dot {
  background-color: var(--punto-red);
}
.card.blue .dot {
  background-color: var(--punto-blue);
}
.card.orange .dot {
  background-color: var(--punto-orange);
}

.one .dot:not(:nth-child(5)),
.two .dot:nth-child(1),
.two .dot:nth-child(2),
.two .dot:nth-child(4),
.two .dot:nth-child(5),
.two .dot:nth-child(6),
.two .dot:nth-child(8),
.two .dot:nth-child(9),
.three .dot:nth-child(1),
.three .dot:nth-child(2),
.three .dot:nth-child(4),
.three .dot:nth-child(6),
.three .dot:nth-child(8),
.three .dot:nth-child(9),
.four .dot:nth-child(2),
.four .dot:nth-child(4),
.four .dot:nth-child(5),
.four .dot:nth-child(6),
.four .dot:nth-child(8),
.five .dot:nth-child(2),
.five .dot:nth-child(4),
.five .dot:nth-child(6),
.five .dot:nth-child(8),
.six .dot:nth-child(4),
.six .dot:nth-child(5),
.six .dot:nth-child(6),
.seven .dot:nth-child(4),
.seven .dot:nth-child(6),
.eight .dot:nth-child(5) {
  background-color: inherit;
}

.card.back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card.back p {
  /* transform: rotate(90deg); */
  position: relative;
  top: -5px;
}
.card.back p span {
  font-family: "punto", "Comic Sans MS";
  font-weight: 500;
  margin: auto;
  font-size: 1.5rem;
  display: inline;
  margin: 0 0.04rem;
}

.card.back .dot {
  display: none;
}

.card.back span:nth-child(1),
.card.back span:nth-child(5) {
  color: var(--punto-red);
}
.card.back span:nth-child(2) {
  color: var(--punto-blue);
}
.card.back span:nth-child(3) {
  color: var(--punto-orange);
}
.card.back span:nth-child(4) {
  color: var(--punto-green);
}

.card:hover {
  /* animation: anim 3s cubic-bezier(0.3, 0.4, 0.4, 0.3); */
}

@keyframes anim {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 0);
  }
}

/* Login */
#login {
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #000;
  padding-top: 20px;
}
#login input {
  padding: 3px;
  font-size: 80%;
  margin: 10px;
}
#login #pseudo {
  width: 80%;
}

/** Animation BUZZ **/
.buzz {
  animation-name: buzz;
  animation-duration: 0.1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
}
@keyframes buzz {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-55%, -50%);
  }
  75% {
    transform: translate(-45%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/* Smiley autocompletion style */

#autocomplete.open {
  display: block;
}

#autocomplete {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  border: 1px solid grey;
  width: 100%;
  box-shadow: lightgray 0 0 6px 4px;
  padding: 0;
}

#autocomplete p {
  padding: 15px;
}

#autocomplete p.selected {
  background: #a0a0a0;
}

#autocomplete p + p {
  border-top: black solid 1px;
}
